.WUIDataGrid {
    background-color: transparent;
    border-left: solid 0.13rem;
    border-top: solid 0.13rem;
    border-bottom: solid 0.13rem;
    border-right: solid 0.13rem;
    border-radius: 0.25rem;
    border-color: var(--palette-divider);
}

.WUIDataGrid-Header {
    border-bottom: solid 1px var(--palette-divider);
}

.WUIDataGrid-HeaderLabel:hover {
    border-bottom: solid 1px var(--palette-divider);
    background-color: var(--palette-action-hover) !important;
    cursor: default;
}

.WUIDataGrid-HeaderLabel {
    border-right: solid 1px var(--palette-divider);
    /*border-bottom: solid 1px var(--palette-primary-text-light);*/
    padding-left: 5px;
    font-weight: bold;
}

.WUIDataGrid-Row {
    border-bottom: solid 1px var(--palette-divider);
    background-color: transparent;
}

.WUIDataGrid-Row:hover {
    border-bottom: solid 1px var(--palette-divider);
    background-color: var(--palette-action-hover) !important;
}
