.WUILabel-span {
    margin: 0px;
    padding: 0px;
}

.WUILabel-h1 {
    margin: 0px;
    padding: 0px;
}

.WUILabel-h2 {
    margin: 0px;
    padding: 0px;
}

.WUILabel-h3 {
    margin: 0px;
    padding: 0px;
}

.WUILabel-h4 {
    margin: 0px;
    padding: 0px;
}

.WUILabel-h5 {
    margin: 0px;
    padding: 0px;
}

.WUILabel-h6 {
    margin: 0px;
    padding: 0px;
}

.WUILabel-p {
    margin: 0px;
    padding: 0px;
}

.WUILabel-primary {
    color: var(--palette-text-primary);
}

.WUILabel-secondary {
    color: var(--palette-text-secondary);
}

.WUILabel-info {
    color: var(--palette-info-text-main);
}

.WUILabel-success {
    color: var(--palette-success-text-main);
}

.WUILabel-error {
    color: var(--palette-error-text-main);
}

.WUILabel-warning {
    color: var(--palette-warning-text-main);
}
