.WUILoading {
    background-color: var(--palette-background-default);
    background-image: url("loading.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute !important;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.8;
}
