.WUIProgressBarContainer {
    overflow: hidden;
    border: solid 2px var(--palette-divider);
    border-radius: 7px;
    background-color: var(--palette-background-default);
}

.WUIProgressBarBar {
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 6px;
    background-color: var(--palette-primary-dark);
}

.WUIProgressBarLabel {
    position: absolute !important;
    color: white;
    text-shadow: -2px 0px 2px black;
}
