.WUISelect {
    position: relative;
    outline: none;
    /*border-collapse: collapse;*/
    border: 2px solid var(--palette-action-disabled);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    padding-left: 20px;
    z-index: 1000;
    background-color: var(--palette-background-default);
    color: var(--palette-text-primary);
}
