.WUIVPanelHandler {
    position: absolute !important;
    overflow: hidden;
    cursor: row-resize;
    background-color: var(--palette-divider);
    opacity: 0.1;
}

.WUIVPanelDragging {
    background-color: var(--palette-divider) !important;
    opacity: 1;
}
