/****************************************************************************/
/***********************************STACK-START******************************/
/****************************************************************************/

.WUIButton-stack-vertical-start {
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    background-color: transparent;
    border-left: solid 0.13rem;
    border-top: solid 0.13rem;
    border-right: solid 0.13rem;
    border-bottom: none;
    font-size: 1rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
}

.WUIButton-stack-vertical-start-color-primary {
    color: var(--palette-text-primary);
    background-color: var(--palette-background-default);
    border-color: var(--palette-primary-main);
}

.WUIButton-stack-vertical-start-color-primary:hover {
    color: var(--palette-primary-text-light);
    background-color: var(--palette-primary-light);
    border-color: var(--palette-primary-main);
}

/****************************************************************************/
/***********************************STACK-MIDDLE******************************/
/****************************************************************************/

.WUIButton-stack-vertical-middle {
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    background-color: transparent;
    border-left: solid 0.13rem;
    border-top: solid 0.13rem;
    border-right: solid 0.13rem;
    border-bottom: none;
    font-size: 1rem;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
}

.WUIButton-stack-vertical-middle-color-primary {
    color: var(--palette-text-primary);
    background-color: var(--palette-background-default);
    border-color: var(--palette-primary-main);
}

.WUIButton-stack-vertical-middle-color-primary:hover {
    color: var(--palette-primary-text-light);
    background-color: var(--palette-primary-light);
    border-color: var(--palette-primary-main);
}

/**************************************************************************/
/***********************************STACK-END******************************/
/**************************************************************************/

.WUIButton-stack-vertical-end {
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    background-color: transparent;
    border-left: solid 0.13rem;
    border-right: solid 0.13rem;
    border-top: solid 0.13rem;
    border-bottom: solid 0.13rem;
    font-size: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
}

.WUIButton-stack-vertical-end-color-primary {
    color: var(--palette-text-primary);
    background-color: var(--palette-background-default);
    border-color: var(--palette-primary-main);
}

.WUIButton-stack-vertical-end-color-primary:hover {
    color: var(--palette-primary-text-light);
    background-color: var(--palette-primary-light);
    border-color: var(--palette-primary-main);
}

/************************************************************************/
/******************************STACK-START-ACTIVE************************/
/************************************************************************/

.WUIButton-stack-vertical-start-active {
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    color: var(--palette-primary-text-light);
    background-color: var(--palette-primary-light);
    border-left: solid 0.13rem;
    border-top: solid 0.13rem;
    border-right: solid 0.13rem;
    border-bottom: none;
    font-size: 1rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
}

.WUIButton-stack-vertical-start-active-color-primary {
    color: var(--palette-primary-text-light);
    background-color: var(--palette-primary-light);
    border-color: var(--palette-primary-main);
}

.WUIButton-stack-vertical-start-active-color-primary:hover {
    color: var(--palette-primary-text-light);
    background-color: var(--palette-primary-light);
    border-color: var(--palette-primary-main);
}

/*************************************************************************/
/**************************STACK-MIDDLE-ACTIVE****************************/
/*************************************************************************/

.WUIButton-stack-vertical-middle-active {
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    color: var(--palette-primary-text-light);
    background-color: var(--palette-primary-light);
    border-left: solid 0.13rem;
    border-top: solid 0.13rem;
    border-right: solid 0.13rem;
    border-bottom: none;
    font-size: 1rem;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
}

.WUIButton-stack-vertical-middle-active-color-primary {
    color: var(--palette-primary-text-light);
    background-color: var(--palette-primary-light);
    border-color: var(--palette-primary-main);
}

.WUIButton-stack-vertical-middle-active-color-primary:hover {
    color: var(--palette-primary-text-light);
    background-color: var(--palette-primary-light);
    border-color: var(--palette-primary-main);
}

/**************************************************************************/
/********************************STACK-END-ACTIVE**************************/
/**************************************************************************/

.WUIButton-stack-vertical-end-active {
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    color: var(--palette-primary-text-light);
    background-color: var(--palette-primary-light);
    border-left: solid 0.13rem;
    border-right: solid 0.13rem;
    border-top: solid 0.13rem;
    border-bottom: solid 0.13rem;
    font-size: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
}

.WUIButton-stack-vertical-end-active-color-primary {
    color: var(--palette-primary-text-light);
    background-color: var(--palette-primary-light);
    border-color: var(--palette-primary-main);
}

.WUIButton-stack-vertical-end-active-color-primary:hover {
    color: var(--palette-primary-text-light);
    background-color: var(--palette-primary-light);
    border-color: var(--palette-primary-main);
}
