node_modules
node_modules/*
public
public/*
dist
dist/*
working
working/*
*.working.*
index.html
package.publish.template.json
package.working.template.json
vite.config.ts
package-lock.json
favicon.ico
.vscode/*
.prettierrc
